@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.brandLine {
    display: flex;
    padding-inline: 1.4em;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(151, 75%, 58%);
    font-family: Lato;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    overflow: hidden;
    letter-spacing: 1px;

    .only {
        animation: slidein 15s infinite linear;
        animation-delay: 2s;
        white-space: nowrap;
        transition: all 2s ease-in-out;
        display: flex;
        align-items: center;
    }

    .only p:nth-of-type(odd) {
        margin-right: 1em;
    }
}

@keyframes slidein {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-40%);
    }
}
