.login {
    padding: .5em;

    .logincontainer {
        padding-block: 4em;
        display: flex;
        flex-direction: column;
        row-gap: 2em;

        .logintitle {
            color: hsl(300, 6%, 94%);
            text-transform: capitalize;
            font-weight: 800;
            font-style: italic;
        }

        .inputlogin {
            background-color: hsl(270, 13%, 6%);
            outline: none;
            color: hsl(300, 6%, 94%);
            font-weight: 600;
            font-style: italic;
            border: none;
            border-top: 2px solid hsl(151, 75%, 58%);
            border-bottom: 2px solid hsl(151, 75%, 58%);
            font-size: 3rem;
            padding: .5em;
        }

        .buttonlogindiv {
            display: flex;
            align-items: center;

            .signupdiv {
                display: flex;
                align-items: center;
                flex: 1;
                font-weight: 600;

                .linksignup {
                    color: hsl(151, 75%, 58%);
                    padding-left: .5em;
                    text-decoration: underline;
                    text-transform: capitalize;
                    font-style: italic;
                }
            }

            .signupdiv:first-child {
                color: hsl(300, 6%, 94%);
                text-transform: capitalize;
                font-style: italic;
            }

            .buttonlogin {
                background-color: hsl(270, 13%, 6%);
                font-size: 3rem;
                color: transparent;
                border: none;
                outline: none;
                font-style: italic;
                transition: all 200ms ease-in-out;
                text-transform: uppercase;
                -webkit-text-stroke: 2px hsl(151, 75%, 58%);
            }

            .buttonlogin:hover {
                transition: all 200ms ease-in-out;
                cursor: pointer;
                color: hsl(151, 75%, 58%);
            }
        }
    }
}


@media screen and (max-width: 850px) {
    .inputlogin {
        font-size: 2rem !important;
    }

    .buttonlogin {
        font-size: 2rem !important;
    }
}

@media screen and (max-width: 520px) {
    .buttonlogindiv {
        flex-direction: column;
    }
}
